@charset "utf-8";


.rBox
{
  padding: 10px 12px;
  background-color: white;
  border: 1px solid #ababab;
  -webkit-border-radius: 7px;
}
.grBox
{
  padding: 8px 16px;
  background-color: #e3e6e9;
  background-image: -webkit-gradient (liner, left top, left bottom, from(#e5e8eb), to(#e3e6e9));
  border: 1px solid #ababab;
  -webkit-border-radius: 7px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px white;
}
.grBox + .rBox
{
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top: 0;
}

.rList
{
  padding: 0;
  background-color: white;
  border: 1px solid #ababab;
  -webkit-border-radius: 7px;
}
.rList li
{
  position: relative;
  border-top: 1px solid #ababab;
  padding: 10px;
}
.rList li:first-child
{
  border-top: 0;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
}
.rList li:last-child
{
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
}
.rList li a
{
  display: block;
  font-size: 1.6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px;
  margin: -8px;
}

.listArrow
{
  padding-right: 25px !important;
  background: url(../img/arrow.png) no-repeat right center;
}

.glowList
{
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: glowList;
}
@-webkit-keyframes glowList
{
  0% {
    background-color: white;
  } 100% {
    -webkit-box-shadow: inset 0 2px 5px rgba(248, 182, 38, .5);
  }
}
.glowText
{
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: glowText;
}
@-webkit-keyframes glowText
{
  0% {
    text-shadow: 0 0 2px white;
  } 100% {
    text-shadow: 0 0 2px rgba(255, 241, 0, .5);
  }
}

img.pageCurl
{
  display: inline-block;
  padding: 4px;
  -webkit-box-sizing: border-box;
  -webkit-border-image: url(../img/frame.png) 1 3 4 3 stretch stretch;
  border-width: 1px 3px 4px;
}
