@charset "utf-8";

@import url(reset.css);
@import url(typo.css);

/* Font Size
*     77% = 10px	|	123.1% = 16px	|	167% = 22px	
*     85% = 11px	|	  131% = 17px	|	174% = 23px
*     93% = 12px	|	138.5% = 18px	|	182% = 24px
*    100% = 13px	|	146.5% = 19px	|	189% = 25px
*    108% = 14px	|	153.9% = 20px	|	197% = 26px
*    116% = 15px	|	161.6% = 21px	|
*/

/* Landscape mode (default) */
#wrap {
	margin:0 auto;
	width:1024px;
	position:relative;
	overflow:hidden;
	text-align:left;
	background:#fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#header {
	float:left;
	width:1024px; height: 120px;
}
#content {
	float:left;
	width:1024px;
	background:#eee;
	position:relative;
	left:768px;
}
#main {
	float:left;
	width:708px;
	position:relative;
	right:738px;
	padding:20px 0;
}
#side {
	float:right;
	width:216px;
	position:relative;
	right:788px;
	padding-bottom:20px;
}
#sidea,
#sideb,
#sidec {
	clear:left;
	float:left;
	width:216px;
	padding-top: 20px;
}
#footer {
	clear:both;
	float:left;
	width:1024px;
	border-top:1px solid #000;
	background:#ddd;
}
#footer p {
	padding:20px 30px;
}

	/* portrait mode */
@media only screen and (orientation:portrait){
	#header,
	#wrap,
	#footer {
		width:768px;
	}
	#header {
	 background-image: url(../img/bg-header-768.jpg);
	}
	#content {
		left:0;
		background:#fff;
	}
	#main {
		float:left;
		width:708px;
		position:relative;
		right:0;
		left:30px;
		padding:20px 0;
	}
	#side {
		clear:left;
		float:left;
		width:768px;
		right:0;
		padding-bottom:20px;
		background:#eee;
	}
	#sidea {
		clear:none;
		width:216px;
		float:left;
		position:relative;
		left:30px;
		padding-top:20px;
	}
	#sideb {
		clear:none;
		width:216px;
		float:left;
		position:relative;
		left:60px;
		padding-top:20px;
	}
	#sidec {
		clear:none;
		width:216px;
		float:right;
		position:relative;
		right:30px;
		padding-top:20px;
	}
}

/* Box style */
.rBox
{
  position: relative;
  padding: 10px 12px;
  background-color: white;
  border: 1px solid #ababab;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.grBox
{
  position: relative;
  padding: 8px 16px;
  background-color: #e3e6e9;
  background: -webkit-gradient (linear, left top, left bottom, from(#e5e8eb), to(#e3e6e9));
  background: -moz-linear-gradient (#e5e8eb, #e3e6e9);
  background: linear-gradient (#e5e8eb, #e3e6e9);
  border: 1px solid #ababab;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  -webkit-box-shadow: inset 0 1px 1px white;
  -moz-box-shadow: inset 0 1px 1px white;
  box-shadow: inset 0 1px 1px white;
}
.grBox + .rBox
{
  border-top: 0;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.rList
{
  padding: 0;
  background-color: white;
  border: 1px solid #ababab;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.rList li
{
  position: relative;
  border-top: 1px solid #ababab;
  padding: 10px 25px 10px 10px;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
.rList li:hover {background-color: rgba(213, 233, 237, .5);}
.rList li:first-child
{
  border-top: 0;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.rList li:last-child
{
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}
.rList li a
{
  display: block;
  color: #1b1310;
  font-size: 123.1%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  padding: 8px;
  margin: -8px;
}
.grBox + .rList, .grBox + .rList li:first-child
{
  border-top: 0;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}
#shortmovie > .rBox
{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
#shortmovie > .rBox + ul.rList
{
  border-top: 0;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.listArrow
{
  background: url(../img/arrow.png) no-repeat right center;
  -webkit-background-size: 18px 13px;
}

#event-info.grBox {padding: 12px 10px 30px;}
#details-wrap
{
  position: relative;
  background-color: #fff;
  border: 1px solid #878787;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 1px #fff, inset 0 1px 5px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px #fff, inset 0 1px 5px rgba(0, 0, 0, .2);
  box-shadow:  0 1px 1px #fff, inset 0 1px 5px rgba(0, 0, 0, .2);
}

.sprited {
  background: url(../img/sprited.png) no-repeat;
  line-height: 1000px;
  overflow: hidden;
  display: block;
}

#info-group
{
  float: left;
  width: 278px;
  padding-right: 30px;
}
#list-group
{
  float: right;
  width: 400px;
  position: relative;
}

body
{
  background: url(../img/bg-body.gif);
}

p {line-height: 1.5;}
p.copyright {line-height: 1; text-align: center;}
.section-title
{
  font-size: 123.1%;
  font-weight: bold;
  text-shadow: 0 1px 1px white;
  letter-spacing: 1px;
}
#event-title {font-size: 153.9%; letter-spacing: 1px; margin-top: .3em;}

dl#event-details, dl#social-details { position: relative; font-size: ; margin: 1em 0; }
dl#event-details dt:after, dl#social-details dt:after { content: "："; }
dl#event-details dt, dl#social-details dt { position: absolute; }
dl#event-details dd, dl#social-details dd { margin-left: 3em; margin-bottom: .3em;}
dl#event-details dd:last-child, dl#social-details dd:last-child {margin-bottom: 0;}

.finish:after
{
  display: block;
  content: '受付は終了しました';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 15%; left: 50%;
  width: 10em;
  color: white;
  font-size: 123.1%;
  text-transform: uppercase;
  text-align: center;
  margin-left: -5em;
  border: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  vertical-align: middle;
  padding: 4px;
}
.unpublished:after
{
  display: block;
  content: '公開は開催日に！';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 15%; left: 50%;
  width: 10em;
  color: white;
  font-size: 123.1%;
  text-transform: uppercase;
  text-align: center;
  margin-left: -5em;
  border: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  vertical-align: middle;
  padding: 4px;
}


/* header */
#header
{
  display: block;
  position: relative;
	background: #fff url(../img/bg-header-1024.jpg) no-repeat;
  -webkit-box-shadow: inset 0 -2px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0 -2px 10px rgba(0, 0, 0, .2);
  box-shadow: inset 0 -2px 10px rgba(0, 0, 0, .2);
  width: 100%;
  height: 150px;
}

#logo-title
{
  display: block;
  float: left;
  position: absolute;
  top: 20px; left: 30px;
  text-indent: -9999px;
  width: 452px; height: 100px;
  background: url(../img/augmo-title-logo.png) no-repeat;
  -webkit-background-size: 250px 55.3px;
}
#logo-theme
{
  display: block;
  position: relative;
  top: 40px; left: 300px;
  text-indent: -9999px;
  width: 467px; height: 99px;
  background: url(../img/augmo-theme.png) no-repeat;
}

#contact
{
  float: right;
  position: absolute;
  top: 60px; right: 30px;
}
#contact li
{
  display: inline-block;
  float: left;
  margin-right: 20px;
}
#contact li:last-child {margin-right: 0;}
#contact li a
{
  display: block;
  width: 48px;
  height: auto;
  padding-top: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all  0.3s linear;
}
#contact li a:hover
{
  color: rgba(255, 241, 0, .8);
  text-decoration: none;
  text-shadow: 0 0 3px white;
}

#twitter
{
  width: 48px; height: 48px;
  background: transparent url(../img/twitter-bird.png) no-repeat;
}

#e-mail
{
  width: 48px; height: 48px;
  background: transparent url(../img/envelope.png) no-repeat 0 10px;
}

/* Main Content */
#main > * > .section {margin-bottom: 20px;}
#main > * > .section:last-child {margin-bottom: 0 !important;}


/* Site Content */
div:target
{
  border: 0;
  -webkit-border-radius: 8px;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: target-color;
}
@-webkit-keyframes target-color
{
  0% {
    -webkit-box-shadow: 0 0 5px transparent;
  } 50% {
    -webkit-box-shadow: 0 0 5px blue;
  } 100% {
    -webkit-box-shadow: 0 0 5px transparent;
  }
}

/* Panelist Page layout */

.thumb, .guest-body, .guest-body em
{
  display: block;
}
.thumb
{
  position: absolute;
  left: 10px; top: 12px;
  overflow: hidden;
  width: 32px; height: 32px;
  border: 1px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
.thumb img {opacity: 0;}
#guest a
{
  font-size: 100% !important;
  white-space: normal;
}
#guest .guest-body
{
  line-height: 1.2;
  min-height: 38px;
  margin-left: 42px;
}
.guest-body em
{
  font-size: 108%;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  margin-bottom: .5em;
}



/* ゲストパネリストのサムネイル */
#lix-adobe .thumb {
  background: url(../guest-icons/lix-adobe.png) no-repeat center center;
  -webkit-background-size: 32px 32px;
}
#lix-nobi .thumb {
  background: url(../guest-icons/lix-nobi.png) no-repeat center center;
  -webkit-background-size: 32px 32px;
}
#lix-focal .thumb {
  background: url(../guest-icons/lix-focal.png) no-repeat center center;
  -webkit-background-size: 32px 32px;
}
#lix-microsoft .thumb {
  background: url(../guest-icons/lix-microsoft.png) no-repeat center center;
  -webkit-background-size: 32px 32px;
}
#lix-saika .thumb {
  background: url(../guest-icons/lix-saika.png) no-repeat center center;
  -webkit-background-size: 32px 32px;
}
#lix-trinity .thumb {
  background: url(../guest-icons/lix-trinity.png) no-repeat center center;
  -webkit-background-size: 32px 32px;
}
#lix-yahoo .thumb {
  background: url(../guest-icons/lix-yahoo.png) no-repeat center center;
  -webkit-background-size: 32px 32px;
}

/* Entry Page layout */
#entry-form, #supporter-list
{
  display: none;
  clear: both;
  width: 830px;
  position: relative;
  background: white url(../img/stripes-type-b.png);
  border: 0;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  -webkit-box-shadow: 0 0 10px rgba(255,255,255, .5);
  -moz-box-shadow: 0 0 10px rgba(255,255,255, .5);
  box-shadow: 0 0 10px rgba(255,255,255, .5);
  padding: 30px;
}
#evaluation-form, #entry-info
{
  display: block;
  position: relative;
  width: 400px;
}
#entry-info
{
  float: left;
}
#evaluation-form
{
  float: right;
}

#entry-form label
{
  display: block;
  font-size: ;
  line-height: 24px;
  height: 24px;
  text-shadow: 0 1px 1px white;
}
#entry-form span > label
{
  float: left;
  width: 10em;
  text-align: right;
  margin-right: 8px;
}
#entry-form input:not([type="radio"]):not([type="checkbox"]), #entry-form select {width: 150px;}
#entry-form span.note
{
  clear: both;
  display: block;
  background-color: white;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  margin: 12px 8px 4px;
  padding: 6px 8px;
}
#entry-form ul.section
{
  background-color: #f1f7fe;
  border: 1px solid #8f9aa7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  margin-bottom: 20px;
}
#entry-form ul.section li
{
  position: relative;
  background-color: #e3e9f2;
  border-bottom: 1px solid #c1cad5;
  border-top: 1px solid #f3f6f9;
  padding: 8px;
}
#entry-form ul.section li.header
{
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #c1cad5;
}
#entry-form ul.section li.bottom
{
  background-color: transparent;
  border: 0;
  height: 5px;
}
#entry-form .radio.button label {display: inline-block;}
#entry-form .history.checkbox, #entry-form #reason {margin-left: 11em;}
#entry-form #reason > select {margin-bottom: .5em;display: block;}
#entry-form .button-field
{
  clear: both;
  float: left;
  position: relative;
  left: 50%;
  margin: 0 auto;
}
#entry-form button
{
  float: left;
  position: relative;
  right: 50%;
  display: block;
  background-color: #219e0c;
  width: 120px;
  font-size: 123.1%;
  font-weight: bold;
  margin-right: 20px;
  padding: 9px;
  letter-spacing: 1px;
  border: none;
  color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-appearance: none;
}
#entry-form button[type="reset"]
{
  margin-right: 0;
  background-color: #9E0728;
}

#close_x
{ 
  width: 24px; height: 23px;
  overflow: hidden; line-height: 1000px;
  display: block;
  position: absolute; top: 8px; right: 8px;
  background-position: -11px -10px;
}



/* Get rid of the annoying blue outline in Safari */
input[type=text]:focus,
input[type=password]:focus
{
  outline: 0 none;
}

#supporter-list {padding-bottom: 22px;}
#supporter-list li
{
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: white;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
#supporter-list li a
{
  display: block;
  color: #1b1310;
  text-decoration: none;
  margin: -8px;
  padding: 8px;
}
#supporter-list li:hover
{
  border-color: white;
  background-color: rgba(203, 234, 210, .5);
  -webkit-box-shadow: 0 0 3px white;
  -moz-box-shadow: 0 0 3px white;
  box-shadow: 0 0 3px white;
}

@media only screen and (orientation:portrait){

  #contact {right: 30px;}
  
  #logo-title
  {
    top: 10px;
    -webkit-background-size: 200px 44.2px;
  }
  #logo-theme
  {
    top: 40px; left: 120px;
  }
  
  #entry-form
  {
    width: 402px;
  }
  #evaluation-form
  {
    clear: right;
    float: left;
  }
  
  #supporter-list
  {
    width: 600px;
  }
}

@media only screen and
(min-device-width : 768px) and
(max-device-width : 1024px) {
.rList li:hover {background-color: whtie;}
}