@charset "utf-8";
@import url(iOS-reset.css);

/* Color List 
    border line:        #ababab rgb(171, 171, 171)
    border line light:  #d5d5d5 rgb(213, 213, 213)
    border line dark:   #878787 rgb(135, 135, 135)
    Navigation menu:    #9e0728 rgb(158, 7, 40)
    
    Text color:         #1b1310 rgb(27, 19, 16)
    Anchor color:       #00bef3 rgb(0, 190, 243)
    
*/



/* Layout */

#wrap
{
  margin: 0 auto;
  width: 480px;
  position: relative;
  overflow: hidden;
	text-align:left;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
header
{
  float: left;
  width: 480px;
  position: relative;
}
#content
{
  float: left;
  width: 480px;
  position: relative;
}
#main
{
  float: left;
  width: 460px;
  padding: 0 10px;
}
footer
{
  clear: both;
  float: left;
  width: 480px;
}

/* section bottom none */
#main > section {margin-bottom: 20px;}
#main > section:last-child {margin-bottom: 0 !important;}



/* decoration style */
body
{
  background: #fff url(../img/stripes-type-b.png);
  color: #1b1310;
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
}

p { font-size: 1.4em; line-height: 1.5; }
a { text-decoration: none; }
a {color: #00bef3;}
a:visited {color: ;}
ul, ol { list-style: none; }
img{ max-width:100%; height:auto; }
input[type="radio"], input[type="checkbox"] {vertical-align: middle;}
.section-title
{
  font-size: 1.6em;
  font-weight: bold;
  text-shadow: 0 1px 1px white;
  letter-spacing: 1px;
}
.warning
{
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(211, 97, 98, .7)), to(rgba(212, 51, 53, .8)));
}

/* new clearfix */
.clr:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clr             { zoom: 1; } /* IE6 */
*:first-child+html .clr { zoom: 1; } /* IE7 */

/* Box style */
.rBox
{
  padding: 10px 12px;
  background-color: white;
  border: 1px solid #ababab;
  -webkit-border-radius: 7px;
}
.grBox
{
  padding: 8px 16px;
  background-color: #e3e6e9;
  background-image: -webkit-gradient (liner, left top, left bottom, from(#e5e8eb), to(#e3e6e9));
  border: 1px solid #ababab;
  -webkit-border-radius: 7px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px white;
}
.grBox + .rBox
{
  border-top: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
}

.rList
{
  padding: 0;
  background-color: white;
  border: 1px solid #ababab;
  -webkit-border-radius: 7px;
}
.rList li
{
  position: relative;
  border-top: 1px solid #ababab;
  padding: 10px 25px 10px 10px;
}
.rList li:first-child
{
  border-top: 0;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
}
.rList li:last-child
{
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
}
.rList li a
{
  display: block;
  color: #1b1310;
  font-size: 1.6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px;
  margin: -8px;
}
.grBox + .rList, .grBox + .rList li:first-child
{
  border-top: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
}

.listArrow
{
  background: url(../img/hi-arrow.png) no-repeat right center;
  -webkit-background-size: 18px 13px;
}

.glowList
{
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: glowList;
}
@-webkit-keyframes glowList
{
  0% {
    background-color: white;
  } 100% {
    -webkit-box-shadow: inset 0 2px 5px rgba(248, 182, 38, .5);
  }
}
.glowText
{
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: glowText;
}
@-webkit-keyframes glowText
{
  0% {
    text-shadow: 0 0 2px rgba(255,255,255, .5);
  } 50% {
    text-shadow: 0 0 2px rgba(255, 241, 0, 1);
  } 100% {
    text-shadow: 0 0 2px rgba(255,255,255, .5);
  }
}

img.pageCurl
{
  display: inline-block;
  padding: 4px;
  -webkit-box-sizing: border-box;
  -webkit-border-image: url(../img/frame.png) 1 3 4 3 stretch stretch;
  border-width: 1px 3px 4px;
}


/* Footer */

.copyright
{
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
}

/* Hedar */

#logo
{
  display: block;
  background: #7c795d url(../img/bg-header-960.jpg) no-repeat;
  -webkit-background-size: 480px 80px;
  -webkit-box-shadow: inset 0 -1px 5px rgba(0, 0, 0, .2);
  width: 100%;
  height: 80px;
  position: relative;
}

#logo-image
{
  display: block;
  float: left;
  position: absolute;
  top: 10px; left: 30px;
  text-indent: -9999px;
  width: 250px; height: 55.5px;
  background: url(../img/augmo-title-logo.png) no-repeat;
  -webkit-background-size: 250px 55.5px;
}

#contact
{
  position: absolute;
  top: 20px; right: 30px;
  float: right;
}

#contact li
{
  display: inline-block;
  float: left;
  margin-right: 20px;
}
#contact li:last-child {margin-right: 0;}

#contact li a
{
  display: block;
  width: 32px;
  height: auto;
  color: white;
  padding-top: 34px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

#twitter
{
  background: transparent url(../img/twitter-bird-brown.png) no-repeat;
  -webkit-background-size: 32px 32px;
}

#e-mail
{
  background: transparent url(../img/envelope-brown.png) no-repeat 0 8px;
  -webkit-background-size: 32px 23px;
}

/* Navigation */

#global-nav {clear: both; padding:16px 10px;}
#global-nav a {
 color: #9e0728;
 padding: 10px 0;
 display: block;
 text-transform: uppercase;
 font-weight: bold;
 font-size: 1.2em;
 text-align: center;
 border-right: 1px solid #d5d5d5;
}
#global-nav li:last-child a { border: 0; }

#nav-menu { 
 list-style: none;
 background: #fff;
 border: 1px solid #d5d5d5;
 -moz-border-radius: 7px;
 -webkit-border-radius: 7px;
}
#nav-menu li:first-child, #nav-menu li:last-child { width: 21%; }
#nav-menu li:first-child
{
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
}
#nav-menu li:last-child
{
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

#nav-menu li:nth-child(3) { width: 30%; }
#nav-menu li{ display:inline-block; vertical-align:middle; width:25%; position: relative; }

.active:after, .active:before {
	border: solid transparent;
	content: "";
	height: 0;
	left: 100%;
	position: absolute;
	width: 0;
	top: 100%; left: 50%;
}
.active:after {
	border-width: 4px;
	border-top-color: #fff;
	margin-left: -4px;
}
.active:before {
	border-width: 5px;
	border-top-color: #d5d5d5;
	margin-left: -5px;
}

.menu:after
{
  display: block;
  content: 'menu';
  background-color: #4a95e9;
  position: absolute;
  top: 75%; left: 50%;
  width: 4em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-left: -2.5em;
  border: 0;
  -webkit-border-radius: 8px;
  vertical-align: middle;
  padding: 2px 4px;
}


/* HomePage Main Contents */


#event-info.grBox {padding: 12px 10px 30px;}
#details-wrap
{
  position: relative;
  background-color: #fff;
  border: 1px solid #878787;
  -webkit-border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 1px #fff, inset 0 1px 5px rgba(0, 0, 0, .2);
}
#details-wrap section.wrap {width: 280px;}

#poster
{
  display: block;
  float: right;
  position: relative;
  top: 25px;
}
#event-title 
{
  font-family: Verdana;
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: 4px;
}
#event-theme
{
  display: block;
  position: relative;
  left: 25px;
  text-indent: -9999px;
  width: 200px; height: 42px;
  background: url(../img/augmo-theme.png) no-repeat;
  -webkit-background-size: 200px 42px;
}

dl#event-details {width: 250px;}
dl#event-details, dl#social-details { position: relative; font-size: 1.4em; margin: 1em 0; }
dl#event-details dt:after, dl#social-details dt:after { content: "："; }
dl#event-details dt, dl#social-details dt { position: absolute; }
dl#event-details dd, dl#social-details dd { margin-left: 3em; margin-bottom: .3em;}
dl#event-details dd:last-child, dl#social-details dd:last-child {margin-bottom: 0;}

#add-calendar, #remove-button { display: inline-block; -webkit-box-sizing: border-box; }
#add-calendar a { display: block; padding: 8px; margin: -8px; }
#remove-button
{
  width: 16%;
  position: relative;
  float: right;
  right: -8px; top: 2px;
}
#remove-button a
{
  display: block;
  padding: 3px 6px 4px;
  margin: -3px -10px -4px;
  color: white;
  font-size: 1.2em !important;
  font-weight: bold;
  text-align: center;
  border: 1px solid #d5d5d5;
  -webkit-box-shadow: 0 1px 1px #fff, inset 0 1px 1px rgba(0, 0, 0, .2);
}

.finish:after
{
  display: block;
  content: '受付は終了しました';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 15%; left: 50%;
  width: 10em;
  color: white;
  font-size: 1.6em;
  text-transform: uppercase;
  text-align: center;
  margin-left: -5em;
  border: 0;
  -webkit-border-radius: 20px;
  vertical-align: middle;
  padding: 4px;
}


/* Panelist Page layout */

.thumb, .guest-body, .guest-body em
{
  display: block;
}
.thumb
{
  position: absolute;
  left: 10px; top: 12px;
  overflow: hidden;
  width: 32px; height: 32px;
  border: 1px solid white;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
.thumb img {opacity: 0;}



/* ゲストパネリストのサムネイル */
#lix-adobe .thumb {
  background: url(../../event/panelist/guest-icons/lix-adobe.jpg) no-repeat center center;
  -webkit-background-size: 32px 32px;
}
#lix-nobi .thumb {
  background: url(../../event/panelist/guest-icons/lix-nobi.jpg) no-repeat center center;
  -webkit-background-size: 32px 32px;
}



#guest a
{
  white-space: normal;
}
#guest .guest-body
{
  font-size: .75em;
  line-height: 1.2;
  min-height: 38px;
  margin-left: 42px;
}
.guest-body em
{
  font-size: 1.3em;
  line-height: 1;
  margin-bottom: .5em;
}

/* Help Page layout */

img#remove-event-calendar
{
  display: block;
  margin: 2em auto;
}

/* Entry Page layout */

#entry-form label
{
  display: block;
  font-size: 1.2em;
  line-height: 24px;
  height: 24px;
  text-shadow: 0 1px 1px white;
}
#entry-form span > label
{
  float: left;
  width: 15em;
  text-align: right;
  margin-right: 8px;
}
#entry-form input:not([type="radio"]):not([type="checkbox"]), #entry-form select {width: 150px;}
#entry-form span.note
{
  clear: both;
  display: block;
  background-color: white;
  border: 0;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  margin: 12px 8px 4px;
  padding: 6px 8px;
}
#entry-form ul.section
{
  background-color: #f1f7fe;
  border: 1px solid #8f9aa7;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  margin-bottom: 20px;
}
#entry-form ul.section li
{
  position: relative;
  background-color: #e3e9f2;
  border-bottom: 1px solid #c1cad5;
  border-top: 1px solid #f3f6f9;
  padding: 8px;
}
#entry-form ul.section li.header
{
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #c1cad5;
}
#entry-form ul.section li.bottom
{
  background-color: transparent;
  border: 0;
  height: 5px;
}
#entry-form .radio.button label {display: inline-block;}
#entry-form .history.checkbox, #entry-form #reason {margin-left: 19em;}
#entry-form #reason > select {margin-bottom: .5em;display: block;}
#entry-form .button-field
{
  margin: 0 auto;
  float: left;
  position: relative;
  left: 50%;
}
#entry-form button
{
  float: left;
  position: relative;
  right: 50%;
  display: block;
  background-color: #219e0c;
  width: 120px;
  font-size: 1.6em;
  font-weight: bold;
  margin-right: 20px;
  padding: 9px;
  letter-spacing: 1px;
  border: none;
  color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-appearance: none;
}
#entry-form button[type="reset"]
{
  margin-right: 0;
  background-color: #9E0728;
}


/* Get rid of the annoying blue outline in Safari */
input[type=text]:focus,
input[type=password]:focus
{
  outline: 0 none;
}



/* portrait mode */
@media screen and (max-width: 320px) {
  #wrap, header, footer, #content
  {
    width: 320px;
  }
  #main
  {
    width: 300px;
  }
  
  #logo
  {
    background: url(../img/bg-header-640.jpg) no-repeat;
    -webkit-background-size: 320px 80px;
  }
  #logo-image
  {
    top: 17.5px; left: 10px;
    width: 200px; height: 44.4px;
    -webkit-background-size: 200px 44.4px;
  }
  #contact
  {
    position: absolute;
    top: 20px; right: 15px;
    float: right;
  }
  #contact li
  {
    margin-right: 15px;
  }
  
  #poster { display: none; }
  
  #entry-form span > label
  {
    width: 8em;
  }
  #entry-form input:not([type="radio"]):not([type="checkbox"]), #entry-form select {width: 126px;}
  #entry-form .history.checkbox, #entry-form #reason {margin-left: 11em;}

}